<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/"><button>ADD DETAILS</button></a>
    <table>
        <tr>
            <th>Name</th>
            <th>Branch</th>
            <th>Section</th>
            <th>Year</th>
            <th>Email</th>
            <th>DOB</th>
        </tr>
        {% for i in key %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.branch}}</td>
            <td>{{i.section}}</td>
            <td>{{i.year}}</td>
            <td>{{i.email_id}}</td>
            <td>{{i.dob|date:"d-m-Y"}}</td>
            <td><a href="{% url 'update_record' email=i.email_id %}"><button>Update</button></a></td>
            <td><a href="{% url 'delete_record' email=i.email_id %}"><button>Delete</button></a></td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>