<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Branch</th>
            <th>Section</th>
            <th>Year</th>
            <th>Email</th>
        </tr>
        {% for i in key %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.branch}}</td>
            <td>{{i.section}}</td>
            <td>{{i.year}}</td>
            <td>{{i.email_id}}</td>
            <td><button>Update</button></td>
            <td><button>Delete</button></td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>